.depositions_card {
  display: flex;
  border-radius: 0.2rem;
  min-height: 15rem;
  border: 1px solid #e0e0e0;
  flex-direction: column;

  @media screen and (max-width: 480px) {
    width: 100%;
  }

  .ico {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    padding-top: 10%;

    img {
      width: 25%;
    }
  }

  span {
    padding-top: 10%;
    text-align: center;
  }

  .deposition_author {
    display: flex;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .author_details {
      display: flex;
      flex-direction: column;

      span {
        color: #728197;
        font-size: 0.9rem;
        padding-bottom: 20%;
      }

      p {
        font-size: 1rem;
      }
    }

    img {
      width: 20%;
    }
  }
}
