.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    
    .wrapper {
        width: 50%;
        height: 60%;
        background-color: white;
    }

    .wrapper_avatar{
        display: flex;
        width: 50%;
    }

}
